#confirm {
   display: none;
   background-color: #91FF00;
   border: 1px solid #aaa;
   position: fixed;
   width: 250px;
   left: 15%;
   /*margin-left: -100px;*/
   padding: 6px 8px 8px;
   box-sizing: border-box;
   text-align: center;
}
#confirm button {
   background-color: #48E5DA;
   display: inline-block;
   border-radius: 5px;
   border: 1px solid #aaa;
   padding: 5px;
   text-align: center;
   width: 80px;
   cursor: pointer;
}
#confirm .message {
   text-align: left;
}